<h1> レビュー登録画面 </h1>

<%= form_with(model: [@review], local: true) do |f| %>
    <%= render 'shared/error_messages', model: f.object %>

    <%= f.label :game_id %>
    <%= f.collection_select :game_id, Game.all, :id, :name %>
    <br>
    <%= f.label :title %>
    <%= f.text_field :title, maxlength: 50 %>
    <br>
    <%= f.label :comment %>
    <%= f.text_area :comment, maxlength: 200%>
    <br>
    <%= f.label :total_hours_played %>
    <%= f.number_field :total_hours_played, min: 1, max: 9999 %>
    <br>
    <%= f.label :graphic_rate %>
    <div class ="star" score_name="graphic_rate">
        <%= f.hidden_field :graphic_rate, id: :review_star%>
    </div>

    <%= f.label :sound_rate %>
    <div class ="star" score_name="sound_rate">
        <%= f.hidden_field :sound_rate %>
    </div>

    <%= f.label :management_rate %>
    <div class ="star" score_name="management_rate">
        <%= f.hidden_field :management_rate %>
    </div>

    <%= f.label :story_rate %>
    <div class ="star" score_name="story_rate">
        <%= f.hidden_field :story_rate %>
    </div>

    <%= f.label :volume_rate %>
    <div class ="star" score_name="volume_rate">
        <%= f.hidden_field :volume_rate %>
    </div>

    <%= f.file_field :image, id: :review_image %>
    <br>
    <img id = "image_prev" width = "400" >
    <br>
    <%= f.submit '投稿' %>
<% end %>

<script type="text/javascript">


$(document).on('turbolinks:load', function() {
    $('.star').raty({
    size: 36,
    starOff:  '<%= asset_path('star-off.png') %>',
    starOn : '<%= asset_path('star-on.png') %>',
    score: 1,
    scoreName: function(){
        return `review[${$(this).attr('score_name')}]`
    }
    });
});


$(function() {
 function readURL(input) {
   if (input.files && input.files[0]) {
     var reader = new FileReader();
     reader.onload = function (e) {
       $('#image_prev').attr('src', e.target.result);
       console.log($('#image_prev').html());
     }
     reader.readAsDataURL(input.files[0]);
   }
 }
 $("#review_image").change(function(){
   readURL(this);
 });
});
</script>