<h1> ユーザー登録 </h1>
<%= form_with(model: [@user], local: true) do |f|%>
    <%= render 'layouts/error_messages', model: f.object %>
    <%= f.label :store_name, "名前" %>
    <%= f.text_field :name%>
    <br>
    <%= f.label :store_name, "email" %>
    <%= f.email_field :email%>
    <br>
    <%= f.label :store_name, "password"%>
    <%= f.password_field :password%>
    <br>
    <%= f.label :store_name, "password（確認）"%>
    <%= f.password_field :password_confirmation%>
    <br>
    <%= f.submit '登録する'%>
<% end %>