<h1> ユーザー登録画面 </h1>

<%= link_to "ログイン画面へ戻る", login_path %>

<%= form_with model: @user, local: true, url: confirm_new_user_path do |f|%>
    <%= render 'shared/error_messages', model: f.object %>
    <%= f.label :name %>
    <%= f.text_field :name, maxlength: 30 %>
    <br>
    <%= f.label :nickname %>
    <%= f.text_field :nickname, maxlength: 30 %>
    <br>
    <%= f.label :email %>
    <%= f.email_field :email, maxlength: 254 %>
    <br>
    <%= f.label :password %>
    <%= f.password_field :password, maxlength: 128 %>
    <br>
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, maxlength: 128 %>
    <br>
    <%= f.submit '登録'%>
<% end %>