<!DOCTYPE html>
<html>
  <head>
    <title>GameReviewApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>


  <body>
    <nav>
      <%= render 'shared/menu_header' if current_user%>
    </nav>

    <main>
      <%= flash[:notice] if flash[:notice] %>
      <%= flash[:alert] if flash[:alert] %>
      <%= yield %>
    </main>
  </body>
</html>