<!DOCTYPE html>
<html>
  <head>
    <title>GameReviewApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>


  <body>
    <nav class='app-title navbar navbar-expand-md navbar-light bg-light'>
      <%= render 'shared/menu_header' if current_user%>
    </nav>

    <main class='container'>
      <% breadcrumbs.tap do |links| %>
        <% if links.any? %>
          <div class='container'>
            <ol class='breadcrumb'>
              <% links.each do |link| %>
                <li class='breadcrumb-item<%= ' active' if link.current? %>'>
                  <%= link_to_unless(link.current?, link.text, link.url) %>
                </li>
              <% end %>
            </ol>
          </div>
        <% end %>
      <% end %>
      <%= flash[:notice] if flash[:notice] %>
      <%= flash[:alert] if flash[:alert] %>
      <%= yield %>
    </main>
  </body>
</html>