<ul class="navbar-nav ml-auto">
    <li class="nav-item"><%= link_to 'Home', home_path, class: "nav-link" %></li>
    <li class="nav-item"><%= link_to 'レビュー投稿', new_review_path, class: "nav-link" %></li>
    <li class="nav-item"><%= link_to 'レビュー一覧', reviews_path, class: "nav-link" %></li>
    <li class="nav-item"><%= link_to 'ゲーム一覧', games_path, class: "nav-link" %></li>
    <li class="nav-item"><%= link_to 'ジャンル一覧', genres_path, class: "nav-link" %></li>
    <li class="nav-item"><%= link_to 'マイページ', user_path(current_user), class: "nav-link" %></li>
    <li class="nav-item"><%= link_to 'ログアウト', logout_path, method: :delete, class: "nav-link" %></li>
</ul>