<% reviews = reviews.order(created_at: "DESC") %>
<% reviews.each do |review| %>

    <%= "#{Review.human_attribute_name(:game_id)} #{review.game.name}" %><br>
    <%= "#{Review.human_attribute_name(:title)} #{review.title}" %><br>
    <%= "#{Review.human_attribute_name(:user_id)} #{User.find(review.user_id).nickname} " %><br>
    <%= "投稿 #{review.convert_elapsed_time}" %><br>
    <%= "#{Review.human_attribute_name(:total_hours_played)} #{review.total_play_time}" %><br>
    <br>
    グラフィック
    <div class="star" data-score="<%= review.graphic_rate %>"></div>
    サウンド
    <div class="star" data-score="<%= review.sound_rate %>"></div>
    運営
    <div class="star" data-score="<%= review.management_rate %>"></div>
    ストーリー
    <div class="star" data-score="<%= review.story_rate %>"></div>
    ボリューム
    <div class="star" data-score="<%= review.volume_rate %>"></div>

    </div>
    <script>
        $(function() {
            $('.star').raty({
                size: 36,
                starOff:  '<%= asset_path('star-off.png') %>',
                starOn : '<%= asset_path('star-on.png') %>',
                readOnly: true,
                score: function(){
                    return $(this).attr('data-score');
                }
            });
        });
    </script>  

    <% if review.user_id == current_user.id %>
    <%= link_to "削除", review, method: :delete, data: { confirm: "削除します。よろしいですか？"} %>
    <% else %>
    <% end %>
    <br>

    <%= "#{Review.human_attribute_name(:comment)} #{review.comment}" %><br>
    <%= image_tag(review.image_url) if review.image.present? %>

    <div id="likes_buttons_<%= review.id %>">
        <%= render partial: "likes_for_user_reviews/like", locals: { review: review} %>
    </div>
    <br>
<% end %>