<% breadcrumb :genre %>
<h1 class="mb-5">ジャンル詳細画面</h1>

<h3 class="mb-4"> ジャンル情報 </h3>
<p><b><%=  "#{Genre.human_attribute_name(:name)}" %></b> <%= "#{@genre.name}" %></p>

<p><b><%= "#{Genre.human_attribute_name(:description)}" %></b> <%= "#{@genre.description}" %>

<h3> 投稿レビュー一覧 </h3>

<%= render partial: "shared/reviews_index", locals: { reviews: Review.where(game_id: @genre.games)} %>