<h1> ログイン画面 </h1>

<%= form_with(model: [@loginSession], url: login_path, local: true) do |f| %>
    <%= render 'layouts/error_messages', model: f.object %>
    <%= f.label :email %>
    <%= f.text_field :email %>
    <br>
    <%= f.label :password %>
    <%= f.password_field :password%>
    <br>
    <%= f.submit 'ログイン' %>
<% end %>
<br>
<%= link_to "ユーザー登録", new_user_path%>